.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Button {
  background: transparent;
  border-radius: 2px;
  border: 1px solid rgba(29, 132, 181, 1);
  color: rgba(29, 132, 181, 1);
  font-size: 2em;
  margin: 24px;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
}

.Button:hover {
  background:rgba(0, 0, 0, 0.5);
}

.Button.clear {
  border-color: rgba(255, 77, 30, 1);
  color: rgba(255, 77, 30, 1);
}
